.productCard {
  width: 80%;
  margin: 10% auto;
  display: flex;
}

.col1 {
  width: 50%;
  position: relative;
}
.col1 img {
  width: 100%;
  border: 1px solid black;
}
.col2 {
  margin:0% 5%;
  width: 50%;

}
#paymentError {
  color: red;
}
.productInfo {
  border-bottom: 1px solid #bdbab7 ;
}
.row1 form {
  display: flex;
  justify-content: space-around;
}
.row1 input[type=number] {
  width: 25%;
}
.col2 h2{
  padding: 5%;
  border-bottom:1px solid #bdbab7;
}
.productInfo {
  margin: 10%;
  
}
.productGrid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 5% 10%;
  margin: auto;
  margin-top: 1%;
  height: 90vh;
}
#productTile {
  min-width: 35%;
  text-align: center;
  box-sizing: border-box;
  
  padding: 2.5%;
  box-shadow: 0 1px 5px 0 #8503ff;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
#productTile img {
  width: 90%;
  margin: auto;
  margin: 15% 0%;
}
#productActions {
  align-items: baseline;
}

.productCard img {
  margin: auto;
}
.cart__container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.cart__right {
  width: 25%;
  background: gray;
  box-shadow: 0 1px 5px 0 #8503ff;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  margin: auto;
  color: white;
  padding: 2%;
  height:fit-content;
  vertical-align: auto;
  text-align: center;
}
.cart__right input[type=text] {
  width: 100%;
  padding: 1% 2%;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid rgb(199, 199, 199);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.cart__right input[type=text]:focus {
  padding: 2% 3%; 
  border: 3px solid #8503ff;
}
.cart__left {
  width: 60%;
  height:90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.cart__left::-webkit-scrollbar {
  width: 5px;
  background: transparent;  
}
.cart__left::-webkit-scrollbar-thumb {
  background: #8503ff;
  
}
.cartItem {
  width: 100%;
  display:flex;
  justify-content: space-around;
  background-color: gray;
  padding: 25px;
  margin: 2.5%;
  align-items: center;
}
.item__actions {
  display: flex;
  justify-content: space-between;
}
.cartItem Link {
  text-decoration: none;
}
.cartItem input[type=number] {
  width: 25%;
}
.cartItem img {
  width: 15%;
  border: 1px solid black;

}
.StripeElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.profile__container {
  display: flex;
  justify-content: space-between;
  height: 90vh;
}

.profile__left {
  background-color: #474849;
  width: 40%;
  margin:2%;
  height: 80vh;
  text-align: center;
}
.profile__left input[type=text], .profile__left input[type=password]{
  width: 80%;
  margin: auto;
}

.profile__bottom {
  margin-top: 10%;
  color: white;
}
.profile__top {
  background-color: #8503ff;
  height: 20%;
  padding: 2%;
  width: 100%;
  text-align: center;
}
.profile__top h2 {
  color: white;
}
.profile__left img {
  float: left;  
}
.profile__right {
  width: 55%;
  height: 80vh;
  overflow-y: scroll;
  text-align: center;
}
.profile__right::-webkit-scrollbar {
  width: 5px;
  background: transparent;  
}
.profile__right::-webkit-scrollbar-thumb {
  background: #8503ff;
  
}
.order img {
  width: 15%;
}
.order {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  margin: 5%;
  padding: 3%;
  color: white; 
  box-shadow: 0 1px 5px 0 #8503ff;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

@media screen and (max-width: 900px) {
  * {
    font-size: large;
  }
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .productCard {
    display:block;
    margin: auto;
  }
  .col1 {
    margin: auto;
    display: block;
    width: 80%;
  }
  .col2 {
    margin: auto;
    width: 80%;
  }
  .cart__right {
    width:60%;
  }
}
@media screen and (max-width: 600px) {
  *{
    font-size: small;
  }
  .productCard {
    display:block;
  }
  .col1 {
    margin: auto;
    height: 25%;
  }
  .col1 img {
    width: 100%;
  }
  .col2 {
    width:100%;
  }
  .productGrid {
    display:block;
  }
  #productTile {
    max-width: 100%;
    display: block;
    margin-bottom: 5%;

  }
  #productTile button {
    display: block;
  }
  .cart__container {
    display: block;
  }
  .cart__left {
    width: 90%;
    display: block;
    margin:auto;
    height: fit-content;
  }
  .cartItem {
    margin: 3% 0%;
  }
  .item__actions {
    display: block;
  }
  .item__actions input[type=number] {
    display: block;
    margin-bottom: 10%;
    width: 40%;
  } 
  .cart__right {
    display: block;
    margin: auto;
    width: 90%;
  }
  .profile__container {
    display:block;
    height: 100vh;
    margin: auto;
  }
  .profile__left {
    margin: auto;
    width: 100%;
  }
  .profile__right {
    width: 100%;

  }
}